<!-- [(ngModel)] = "serverName" => HERE TWO WAY DATA BINDING IS USED. -->
<label>Username</label>
<input type="text" class="form-control" [(ngModel)]="username">

<!-- {{username}} => HERE STRING INTERPOLATION METHOD HAS BEEN USED. -->
<p> {{username}} </p>

<!-- [disabled] => PROPERTY BINDING HAS BEEN USED HERE. -->
<!-- <button class="btn btn-primary" [disabled]="allowNewServer">Add Server</button> -->
<!--  -->
<button class="btn btn-primary" [disabled]="username === ''" (click)="username ='' ">Reset User</button>